@import url(/icon/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono:400');
.flex-container-xl {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1001px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.flex-container-md {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.flex-container-xs {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.justify-left {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-right {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.justify-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.justify-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
.align-top {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
.align-bottom {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.align-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.align-baseline {
  -webkit-align-items: align-baseline;
  -moz-align-items: align-baseline;
  -ms-align-items: align-baseline;
  -o-align-items: align-baseline;
  align-items: align-baseline;
}
.align-stretch {
  -webkit-align-items: align-stretch;
  -moz-align-items: align-stretch;
  -ms-align-items: align-stretch;
  -o-align-items: align-stretch;
  align-items: align-stretch;
}
.content-start {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
}
.content-end {
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  -ms-align-content: flex-end;
  -o-align-content: flex-end;
  align-content: flex-end;
}
.content-center {
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
}
.content-between {
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  -ms-align-content: space-between;
  -o-align-content: space-between;
  align-content: space-between;
}
.content-around {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-align-content: space-around;
  -o-align-content: space-around;
  align-content: space-around;
}
.content-stretch {
  -webkit-align-content: space-stretch;
  -moz-align-content: space-stretch;
  -ms-align-content: space-stretch;
  -o-align-content: space-stretch;
  align-content: space-stretch;
}
.direction-row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.direction-row-reverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.direction-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.direction-column-reverse {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.no-wrap {
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  -o-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}
.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  -o-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.self-start {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  align-self: flex-start;
}
.self-end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  align-self: flex-end;
}
.self-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
}
.self-baseline {
  -webkit-align-self: baseline;
  -moz-align-self: baseline;
  -ms-align-self: baseline;
  -o-align-self: baseline;
  align-self: baseline;
}
.self-stretch {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  -ms-align-self: stretch;
  -o-align-self: stretch;
  align-self: stretch;
}
.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.grow-4 {
  flex-grow: 4;
}
.grow-5 {
  flex-grow: 5;
}
.grow-6 {
  flex-grow: 6;
}
.grow-7 {
  flex-grow: 7;
}
.grow-8 {
  flex-grow: 8;
}
.grow-9 {
  flex-grow: 9;
}
.grow-10 {
  flex-grow: 10;
}
.grow-11 {
  flex-grow: 11;
}
.grow-12 {
  flex-grow: 12;
}
.grow-13 {
  flex-grow: 13;
}
.grow-14 {
  flex-grow: 14;
}
.grow-15 {
  flex-grow: 15;
}
.grow-16 {
  flex-grow: 16;
}
.grow-17 {
  flex-grow: 17;
}
.grow-18 {
  flex-grow: 18;
}
.grow-19 {
  flex-grow: 19;
}
.grow-20 {
  flex-grow: 20;
}
.order--100 {
  order: -100;
}
.order--99 {
  order: -99;
}
.order--98 {
  order: -98;
}
.order--97 {
  order: -97;
}
.order--96 {
  order: -96;
}
.order--95 {
  order: -95;
}
.order--94 {
  order: -94;
}
.order--93 {
  order: -93;
}
.order--92 {
  order: -92;
}
.order--91 {
  order: -91;
}
.order--90 {
  order: -90;
}
.order--89 {
  order: -89;
}
.order--88 {
  order: -88;
}
.order--87 {
  order: -87;
}
.order--86 {
  order: -86;
}
.order--85 {
  order: -85;
}
.order--84 {
  order: -84;
}
.order--83 {
  order: -83;
}
.order--82 {
  order: -82;
}
.order--81 {
  order: -81;
}
.order--80 {
  order: -80;
}
.order--79 {
  order: -79;
}
.order--78 {
  order: -78;
}
.order--77 {
  order: -77;
}
.order--76 {
  order: -76;
}
.order--75 {
  order: -75;
}
.order--74 {
  order: -74;
}
.order--73 {
  order: -73;
}
.order--72 {
  order: -72;
}
.order--71 {
  order: -71;
}
.order--70 {
  order: -70;
}
.order--69 {
  order: -69;
}
.order--68 {
  order: -68;
}
.order--67 {
  order: -67;
}
.order--66 {
  order: -66;
}
.order--65 {
  order: -65;
}
.order--64 {
  order: -64;
}
.order--63 {
  order: -63;
}
.order--62 {
  order: -62;
}
.order--61 {
  order: -61;
}
.order--60 {
  order: -60;
}
.order--59 {
  order: -59;
}
.order--58 {
  order: -58;
}
.order--57 {
  order: -57;
}
.order--56 {
  order: -56;
}
.order--55 {
  order: -55;
}
.order--54 {
  order: -54;
}
.order--53 {
  order: -53;
}
.order--52 {
  order: -52;
}
.order--51 {
  order: -51;
}
.order--50 {
  order: -50;
}
.order--49 {
  order: -49;
}
.order--48 {
  order: -48;
}
.order--47 {
  order: -47;
}
.order--46 {
  order: -46;
}
.order--45 {
  order: -45;
}
.order--44 {
  order: -44;
}
.order--43 {
  order: -43;
}
.order--42 {
  order: -42;
}
.order--41 {
  order: -41;
}
.order--40 {
  order: -40;
}
.order--39 {
  order: -39;
}
.order--38 {
  order: -38;
}
.order--37 {
  order: -37;
}
.order--36 {
  order: -36;
}
.order--35 {
  order: -35;
}
.order--34 {
  order: -34;
}
.order--33 {
  order: -33;
}
.order--32 {
  order: -32;
}
.order--31 {
  order: -31;
}
.order--30 {
  order: -30;
}
.order--29 {
  order: -29;
}
.order--28 {
  order: -28;
}
.order--27 {
  order: -27;
}
.order--26 {
  order: -26;
}
.order--25 {
  order: -25;
}
.order--24 {
  order: -24;
}
.order--23 {
  order: -23;
}
.order--22 {
  order: -22;
}
.order--21 {
  order: -21;
}
.order--20 {
  order: -20;
}
.order--19 {
  order: -19;
}
.order--18 {
  order: -18;
}
.order--17 {
  order: -17;
}
.order--16 {
  order: -16;
}
.order--15 {
  order: -15;
}
.order--14 {
  order: -14;
}
.order--13 {
  order: -13;
}
.order--12 {
  order: -12;
}
.order--11 {
  order: -11;
}
.order--10 {
  order: -10;
}
.order--9 {
  order: -9;
}
.order--8 {
  order: -8;
}
.order--7 {
  order: -7;
}
.order--6 {
  order: -6;
}
.order--5 {
  order: -5;
}
.order--4 {
  order: -4;
}
.order--3 {
  order: -3;
}
.order--2 {
  order: -2;
}
.order--1 {
  order: -1;
}
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
.order-13 {
  order: 13;
}
.order-14 {
  order: 14;
}
.order-15 {
  order: 15;
}
.order-16 {
  order: 16;
}
.order-17 {
  order: 17;
}
.order-18 {
  order: 18;
}
.order-19 {
  order: 19;
}
.order-20 {
  order: 20;
}
.order-21 {
  order: 21;
}
.order-22 {
  order: 22;
}
.order-23 {
  order: 23;
}
.order-24 {
  order: 24;
}
.order-25 {
  order: 25;
}
.order-26 {
  order: 26;
}
.order-27 {
  order: 27;
}
.order-28 {
  order: 28;
}
.order-29 {
  order: 29;
}
.order-30 {
  order: 30;
}
.order-31 {
  order: 31;
}
.order-32 {
  order: 32;
}
.order-33 {
  order: 33;
}
.order-34 {
  order: 34;
}
.order-35 {
  order: 35;
}
.order-36 {
  order: 36;
}
.order-37 {
  order: 37;
}
.order-38 {
  order: 38;
}
.order-39 {
  order: 39;
}
.order-40 {
  order: 40;
}
.order-41 {
  order: 41;
}
.order-42 {
  order: 42;
}
.order-43 {
  order: 43;
}
.order-44 {
  order: 44;
}
.order-45 {
  order: 45;
}
.order-46 {
  order: 46;
}
.order-47 {
  order: 47;
}
.order-48 {
  order: 48;
}
.order-49 {
  order: 49;
}
.order-50 {
  order: 50;
}
.order-51 {
  order: 51;
}
.order-52 {
  order: 52;
}
.order-53 {
  order: 53;
}
.order-54 {
  order: 54;
}
.order-55 {
  order: 55;
}
.order-56 {
  order: 56;
}
.order-57 {
  order: 57;
}
.order-58 {
  order: 58;
}
.order-59 {
  order: 59;
}
.order-60 {
  order: 60;
}
.order-61 {
  order: 61;
}
.order-62 {
  order: 62;
}
.order-63 {
  order: 63;
}
.order-64 {
  order: 64;
}
.order-65 {
  order: 65;
}
.order-66 {
  order: 66;
}
.order-67 {
  order: 67;
}
.order-68 {
  order: 68;
}
.order-69 {
  order: 69;
}
.order-70 {
  order: 70;
}
.order-71 {
  order: 71;
}
.order-72 {
  order: 72;
}
.order-73 {
  order: 73;
}
.order-74 {
  order: 74;
}
.order-75 {
  order: 75;
}
.order-76 {
  order: 76;
}
.order-77 {
  order: 77;
}
.order-78 {
  order: 78;
}
.order-79 {
  order: 79;
}
.order-80 {
  order: 80;
}
.order-81 {
  order: 81;
}
.order-82 {
  order: 82;
}
.order-83 {
  order: 83;
}
.order-84 {
  order: 84;
}
.order-85 {
  order: 85;
}
.order-86 {
  order: 86;
}
.order-87 {
  order: 87;
}
.order-88 {
  order: 88;
}
.order-89 {
  order: 89;
}
.order-90 {
  order: 90;
}
.order-91 {
  order: 91;
}
.order-92 {
  order: 92;
}
.order-93 {
  order: 93;
}
.order-94 {
  order: 94;
}
.order-95 {
  order: 95;
}
.order-96 {
  order: 96;
}
.order-97 {
  order: 97;
}
.order-98 {
  order: 98;
}
.order-99 {
  order: 99;
}
.order-100 {
  order: 100;
}
.flex {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.row-xl {
  max-width: 1001px;
  margin: auto;
}
.row-md {
  max-width: 960px;
  margin: auto;
}
.row-xs {
  max-width: 767px;
  margin: auto;
}
@font-face {
  font-family: "Roboto";
  src: url(/font/roboto/Roboto-Thin.eot);
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url(/font/roboto/Roboto-Light.eot);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(/font/roboto/Roboto-Regular.eot);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(/font/roboto/Roboto-Medium.eot);
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(/font/roboto/Roboto-Bold.eot);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/font/roboto/Roboto-Thin.ttf ) format("truetype"), url(/font/roboto/Roboto-Thin.woff ) format("woff"), url(/font/roboto/Roboto-Thin.woff2 ) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/font/roboto/Roboto-Light.ttf ) format("truetype"), url(/font/roboto/Roboto-Light.woff ) format("woff"), url(/font/roboto/Roboto-Light.woff2 ) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/font/roboto/Roboto-Regular.ttf ) format("truetype"), url(/font/roboto/Roboto-Regular.woff ) format("woff"), url(/font/roboto/Roboto-Regular.woff2 ) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/font/roboto/Roboto-Medium.ttf ) format("truetype"), url(/font/roboto/Roboto-Medium.woff ) format("woff"), url(/font/roboto/Roboto-Medium.woff2 ) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(/font/roboto/Roboto-Bold.ttf ) format("truetype"), url(/font/roboto/Roboto-Bold.woff ) format("woff"), url(/font/roboto/Roboto-Bold.woff2 ) format("woff2");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "helvetica", sans-serif;
}
header,
section,
footer {
  width: 100%;
  position: relative;
}
header,
section,
footer,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #27262c;
}
a {
  text-decoration: none;
  color: #27262c;
}
a:hover {
  color: #09080e;
}
p {
  font-size: 13px;
}
p {
  margin: 0;
}
h1 {
  font-size: 26px;
  line-height: 26px;
}
h2 {
  font-size: 23px;
  line-height: 23px;
}
h3 {
  font-size: 20px;
  line-height: 20px;
}
h4 {
  font-size: 17px;
  line-height: 17px;
}
h5 {
  font-size: 14px;
  line-height: 14px;
}
h6 {
  font-size: 11px;
  line-height: 11px;
}
.row-xl {
  max-width: 1001px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.row-md {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.row-xs {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container-desktop {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container-tablet {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container-phone {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.col-xl-1 {
  width: 6.33533134%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-1 {
  width: 6.25%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-1 {
  width: 5.7257714%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-2 {
  width: 14.66866467%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-2 {
  width: 14.58333333%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-2 {
  width: 14.05910474%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-3 {
  width: 23.001998%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-3 {
  width: 22.91666667%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-3 {
  width: 22.39243807%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-4 {
  width: 31.33533134%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-4 {
  width: 31.25%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-4 {
  width: 30.7257714%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-5 {
  width: 39.66866467%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-5 {
  width: 39.58333333%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-5 {
  width: 39.05910474%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-6 {
  width: 48.001998%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-6 {
  width: 47.91666667%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-6 {
  width: 47.39243807%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-7 {
  width: 56.33533134%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-7 {
  width: 56.25%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-7 {
  width: 55.7257714%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-8 {
  width: 64.66866467%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-8 {
  width: 64.58333333%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-8 {
  width: 64.05910474%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-9 {
  width: 73.001998%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-9 {
  width: 72.91666667%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-9 {
  width: 72.39243807%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-10 {
  width: 81.33533134%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-10 {
  width: 81.25%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-10 {
  width: 80.7257714%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-11 {
  width: 89.66866467%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-11 {
  width: 89.58333333%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-11 {
  width: 89.05910474%;
  margin: 0 1.30378096%;
  float: left;
}
.col-xl-12 {
  width: 98.001998%;
  margin: 0 0.999001%;
  float: left;
}
.col-md-12 {
  width: 97.91666667%;
  margin: 0 1.04166667%;
  float: left;
}
.col-xs-12 {
  width: 97.39243807%;
  margin: 0 1.30378096%;
  float: left;
}
@media screen and (max-width: 767px) {
  .col-xl-1,
  .col-md-1,
  .col-xs-1 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-2,
  .col-md-2,
  .col-xs-2 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-3,
  .col-md-3,
  .col-xs-3 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-4,
  .col-md-4,
  .col-xs-4 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-5,
  .col-md-5,
  .col-xs-5 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-6,
  .col-md-6,
  .col-xs-6 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-7,
  .col-md-7,
  .col-xs-7 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-8,
  .col-md-8,
  .col-xs-8 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-9,
  .col-md-9,
  .col-xs-9 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-10,
  .col-md-10,
  .col-xs-10 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-11,
  .col-md-11,
  .col-xs-11 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .col-xl-12,
  .col-md-12,
  .col-xs-12 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    float: none;
  }
  .row-xl,
  .row-md,
  .row-xs {
    flex-direction: column;
  }
}
button {
  font-family: "helvetica", sans-serif;
  padding: 7px 20px;
  border: 1px solid #ccc;
  background: #ccc;
  vertical-align: middle;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  border-radius: -58px;
  -webkit-transition: border-radius 1.5s;
  transition: border-raius 1.5s;
}
button:active {
  border: 1px solid #a4a4a4;
  background: #a4a4a4;
  -webkit-transition: background .3s;
  transition: background .3s;
  outline: none;
}
.disabled {
  cursor: no-drop;
  border: none;
  background: #e0e0e0;
  color: #b8b8b8;
}
.disabled:hover {
  border-radius: none;
}
.disabled:active {
  border: none;
  background: #e0e0e0;
  color: #b8b8b8;
}
.btn-primary {
  border: none;
  background: #27262c;
  color: #fff;
}
.btn-primary:hover {
  border: none;
  background: #09080e;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-primary-line {
  border: 1px solid #27262c;
  background: none;
  color: #27262c;
}
.btn-primary-line:hover {
  color: #000000;
  border: 1px solid #000000;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-secondary {
  border: none;
  background: #ea5456;
  color: #fff;
}
.btn-secondary:hover {
  border: none;
  background: #cc3638;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-secondary-line {
  border: 1px solid #ea5456;
  background: none;
  color: #ea5456;
}
.btn-secondary-line:hover {
  color: #ae181a;
  border: 1px solid #ae181a;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-third {
  border: none;
  background: #01D6A2;
  color: #fff;
}
.btn-third:hover {
  border: none;
  background: #00b884;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-third-line {
  border: 1px solid #01D6A2;
  background: none;
  color: #01D6A2;
}
.btn-third-line:hover {
  color: #009a66;
  border: 1px solid #009a66;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-success {
  border: none;
  background: #3adb76;
  color: #fff;
}
.btn-success:hover {
  border: none;
  background: #1cbd58;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-success-line {
  border: 1px solid #3adb76;
  background: none;
  color: #3adb76;
}
.btn-success-line:hover {
  color: #009f3a;
  border: 1px solid #009f3a;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-warning {
  border: none;
  background: #ffd628;
  color: #fff;
}
.btn-warning:hover {
  border: none;
  background: #ffb80a;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-warning-line {
  border: 1px solid #ffd628;
  background: none;
  color: #ffd628;
}
.btn-warning-line:hover {
  color: #eb9a00;
  border: 1px solid #eb9a00;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-danger {
  border: none;
  background: #ff4646;
  color: #fff;
}
.btn-danger:hover {
  border: none;
  background: #ff2828;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-danger-line {
  border: 1px solid #ff4646;
  background: none;
  color: #ff4646;
}
.btn-danger-line:hover {
  color: #ff0a0a;
  border: 1px solid #ff0a0a;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-close {
  border: none;
  background: #27262c;
  color: #fff;
}
.btn-close ::before {
  color: #fff;
}
.btn-close:hover {
  border: none;
  background: #09080e;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.btn-close-line {
  border: 1px solid #27262c;
  background: none;
  color: #27262c;
}
.btn-close-line:hover {
  color: #000000;
  border: 1px solid #000000;
  background: none;
  -webkit-transition: background .3s;
  transition: background .3s;
}
input {
  background: #efefef;
  color: #27262c;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
input:hover {
  background: #ececec;
}
input:focus {
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
}
.icon-background-primary span i,
.icon-background-secondary span i,
.icon-background-third span i {
  color: #ffffff!important;
}
.icon-background {
  height: 30px;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 0 0 7px;
}
.icon-background input {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}
.icon-background-primary {
  height: 30px;
  background: #27262c;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 0 0 7px;
}
.icon-background-primary input {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}
.icon-background-secondary {
  height: 30px;
  background: #ea5456;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 0 0 7px;
}
.icon-background-secondary input {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}
.icon-background-third {
  height: 30px;
  background: #01D6A2;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 0 0 7px;
}
.icon-background-third input {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}
input[type="submit"] {
  cursor: pointer;
}
.submit-primary[type="submit"] {
  background: #27262c;
  color: #fff;
  border: none;
}
.submit-secondary[type="submit"] {
  background: #ea5456;
  color: #fff;
  border: none;
}
.submit-third[type="submit"] {
  background: #01D6A2;
  color: #fff;
  border: none;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  background: #efefef;
  background-position: center;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #27262c;
  position: relative;
  border: 3px solid #efefef;
  z-index: 3;
  cursor: pointer;
}
.range-secondary[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  background: #efefef;
  background-position: center;
  background-repeat: no-repeat;
}
.range-secondary[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ea5456;
  position: relative;
  border: 3px solid #efefef;
  z-index: 3;
  cursor: pointer;
}
.range-third[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  background: #efefef;
  background-position: center;
  background-repeat: no-repeat;
}
.range-third[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #01D6A2;
  position: relative;
  border: 3px solid #efefef;
  z-index: 3;
  cursor: pointer;
}
input[type="date"] {
  font-family: "helvetica", sans-serif;
}
fieldset {
  color: #27262c;
  outline: none;
  border: 1px solid #ccc;
}
fieldset:after {
  color: #27262c;
}
fieldset ul,
fieldset li {
  list-style-type: none;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
fieldset label {
  line-height: 0;
}
input[type="checkbox"] {
  height: auto;
}
input[type="radio"] {
  height: auto;
}
.fa {
  color: #27262c;
}
.fa:hover {
  color: #45444a;
}
.fa:focus {
  color: #636268;
}
.fa-active {
  color: #636268;
}
.fa-active:hover {
  color: #636268;
}
.margin0 {
  margin: 0;
  padding: 0;
}
.title-section,
.title-section2 {
  list-style-type: none;
  margin-top: 80px;
}
.title-section h3,
.title-section2 h3 {
  font-size: 48px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}
.title-section p,
.title-section2 p {
  color: #ccc;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  overflow-x: hidden;
}
body header {
  position: relative;
  float: left;
}
body header #logo {
  position: fixed;
  margin-left: 20px;
  padding: 0;
  margin-top: 10px;
}
body header h1 {
  line-height: 0;
  margin-top: 0;
}
body header h1 a {
  color: #27262c;
  font-size: 20px;
  line-height: 0;
}
body header h1 a:hover {
  color: #ccc;
}
body header #navigazione-header {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}
body header #navigazione-header nav {
  float: right;
}
body header #navigazione-header nav ul {
  list-style-type: none;
}
body header #navigazione-header nav ul li {
  float: left;
  margin-right: 20px;
}
body header #navigazione-header nav ul li a:hover {
  color: #27262c -30%;
  text-decoration: underline;
}
body header #navigazione-header nav ul li:last-child a {
  border: 1px solid #ea5456;
  padding: 5px 15px 4px 15px;
  color: #ea5456;
}
body header #navigazione-header nav ul li:last-child a:hover {
  color: #fff;
  background: #ea5456;
  text-decoration: none;
}
body #navigazione-left {
  position: fixed;
  transform: rotate(-90deg);
  left: -170px;
  top: 300px;
  z-index: 100;
}
body #navigazione-left ul {
  list-style-type: none;
  position: relative;
}
body #navigazione-left ul li {
  float: left;
  margin-right: 20px;
}
body #navigazione-left ul li li:hover {
  color: #ea5456;
  cursor: pointer;
}
body #navigazione-left ul .rettangolo-nav,
body #navigazione-left ul .rettangolo-nav1 {
  height: 1px;
  position: absolute;
  top: 20px;
  right: 22px;
}
body #navigazione-left ul .rettangolo-nav {
  width: 372px;
  background: #ccc;
}
body #navigazione-left ul .rettangolo-nav1 {
  width: 38px;
  background: #1a1a1a;
}
body section {
  float: left;
  position: relative;
}
body #section1 .title,
body #section2 .title,
body #section3 .title,
body #section4 .title,
body #section5 .title,
body #section6 .title,
body #section1 .title2,
body #section2 .title2,
body #section3 .title2,
body #section4 .title2,
body #section5 .title2,
body #section6 .title2,
body #section1 .title3,
body #section2 .title3,
body #section3 .title3,
body #section4 .title3,
body #section5 .title3,
body #section6 .title3,
body #section1 .title4,
body #section2 .title4,
body #section3 .title4,
body #section4 .title4,
body #section5 .title4,
body #section6 .title4,
body #section1 .title5,
body #section2 .title5,
body #section3 .title5,
body #section4 .title5,
body #section5 .title5,
body #section6 .title5,
body #section1 .title6,
body #section2 .title6,
body #section3 .title6,
body #section4 .title6,
body #section5 .title6,
body #section6 .title6 {
  margin-top: 50px;
  width: 100%;
}
body #section1 .title img,
body #section2 .title img,
body #section3 .title img,
body #section4 .title img,
body #section5 .title img,
body #section6 .title img,
body #section1 .title2 img,
body #section2 .title2 img,
body #section3 .title2 img,
body #section4 .title2 img,
body #section5 .title2 img,
body #section6 .title2 img,
body #section1 .title3 img,
body #section2 .title3 img,
body #section3 .title3 img,
body #section4 .title3 img,
body #section5 .title3 img,
body #section6 .title3 img,
body #section1 .title4 img,
body #section2 .title4 img,
body #section3 .title4 img,
body #section4 .title4 img,
body #section5 .title4 img,
body #section6 .title4 img,
body #section1 .title5 img,
body #section2 .title5 img,
body #section3 .title5 img,
body #section4 .title5 img,
body #section5 .title5 img,
body #section6 .title5 img,
body #section1 .title6 img,
body #section2 .title6 img,
body #section3 .title6 img,
body #section4 .title6 img,
body #section5 .title6 img,
body #section6 .title6 img {
  margin-right: 0px;
  height: 150px;
  float: right;
}
body #section1 .testo-section1,
body #section2 .testo-section1,
body #section3 .testo-section1,
body #section4 .testo-section1,
body #section5 .testo-section1,
body #section6 .testo-section1,
body #section1 .testo-section2,
body #section2 .testo-section2,
body #section3 .testo-section2,
body #section4 .testo-section2,
body #section5 .testo-section2,
body #section6 .testo-section2,
body #section1 .testo-section3,
body #section2 .testo-section3,
body #section3 .testo-section3,
body #section4 .testo-section3,
body #section5 .testo-section3,
body #section6 .testo-section3,
body #section1 .testo-section4,
body #section2 .testo-section4,
body #section3 .testo-section4,
body #section4 .testo-section4,
body #section5 .testo-section4,
body #section6 .testo-section4,
body #section1 .testo-section5,
body #section2 .testo-section5,
body #section3 .testo-section5,
body #section4 .testo-section5,
body #section5 .testo-section5,
body #section6 .testo-section5,
body #section1 .testo-section6,
body #section2 .testo-section6,
body #section3 .testo-section6,
body #section4 .testo-section6,
body #section5 .testo-section6,
body #section6 .testo-section6 {
  margin-top: 40px;
}
body #section1 .color-img,
body #section2 .color-img,
body #section3 .color-img,
body #section4 .color-img,
body #section5 .color-img,
body #section6 .color-img,
body #section1 .grid-img,
body #section2 .grid-img,
body #section3 .grid-img,
body #section4 .grid-img,
body #section5 .grid-img,
body #section6 .grid-img,
body #section1 .typography-img,
body #section2 .typography-img,
body #section3 .typography-img,
body #section4 .typography-img,
body #section5 .typography-img,
body #section6 .typography-img,
body #section1 .button-img,
body #section2 .button-img,
body #section3 .button-img,
body #section4 .button-img,
body #section5 .button-img,
body #section6 .button-img,
body #section1 .icon-img,
body #section2 .icon-img,
body #section3 .icon-img,
body #section4 .icon-img,
body #section5 .icon-img,
body #section6 .icon-img,
body #section1 .forms-img,
body #section2 .forms-img,
body #section3 .forms-img,
body #section4 .forms-img,
body #section5 .forms-img,
body #section6 .forms-img {
  position: relative;
  margin-top: 100px;
}
body #section1 .color-img img,
body #section2 .color-img img,
body #section3 .color-img img,
body #section4 .color-img img,
body #section5 .color-img img,
body #section6 .color-img img,
body #section1 .grid-img img,
body #section2 .grid-img img,
body #section3 .grid-img img,
body #section4 .grid-img img,
body #section5 .grid-img img,
body #section6 .grid-img img,
body #section1 .typography-img img,
body #section2 .typography-img img,
body #section3 .typography-img img,
body #section4 .typography-img img,
body #section5 .typography-img img,
body #section6 .typography-img img,
body #section1 .button-img img,
body #section2 .button-img img,
body #section3 .button-img img,
body #section4 .button-img img,
body #section5 .button-img img,
body #section6 .button-img img,
body #section1 .icon-img img,
body #section2 .icon-img img,
body #section3 .icon-img img,
body #section4 .icon-img img,
body #section5 .icon-img img,
body #section6 .icon-img img,
body #section1 .forms-img img,
body #section2 .forms-img img,
body #section3 .forms-img img,
body #section4 .forms-img img,
body #section5 .forms-img img,
body #section6 .forms-img img {
  max-width: 80%;
}
body #section1 .color-img p,
body #section2 .color-img p,
body #section3 .color-img p,
body #section4 .color-img p,
body #section5 .color-img p,
body #section6 .color-img p,
body #section1 .grid-img p,
body #section2 .grid-img p,
body #section3 .grid-img p,
body #section4 .grid-img p,
body #section5 .grid-img p,
body #section6 .grid-img p,
body #section1 .typography-img p,
body #section2 .typography-img p,
body #section3 .typography-img p,
body #section4 .typography-img p,
body #section5 .typography-img p,
body #section6 .typography-img p,
body #section1 .button-img p,
body #section2 .button-img p,
body #section3 .button-img p,
body #section4 .button-img p,
body #section5 .button-img p,
body #section6 .button-img p,
body #section1 .icon-img p,
body #section2 .icon-img p,
body #section3 .icon-img p,
body #section4 .icon-img p,
body #section5 .icon-img p,
body #section6 .icon-img p,
body #section1 .forms-img p,
body #section2 .forms-img p,
body #section3 .forms-img p,
body #section4 .forms-img p,
body #section5 .forms-img p,
body #section6 .forms-img p {
  font-size: 18px;
  transform: rotate(-90deg);
  position: absolute;
  right: 30px;
  color: #27262c;
}
body #section1 .arrow-section1,
body #section2 .arrow-section1,
body #section3 .arrow-section1,
body #section4 .arrow-section1,
body #section5 .arrow-section1,
body #section6 .arrow-section1 {
  position: absolute;
  width: 20px;
  top: 80vh;
  left: 50px;
}
body #section1 .arrow-section1 p,
body #section2 .arrow-section1 p,
body #section3 .arrow-section1 p,
body #section4 .arrow-section1 p,
body #section5 .arrow-section1 p,
body #section6 .arrow-section1 p {
  color: #ccc;
  transform: rotate(-90deg);
  width: 100px;
  position: absolute;
  left: -28px;
  top: -18px;
}
body #section1 code,
body #section2 code,
body #section3 code,
body #section4 code,
body #section5 code,
body #section6 code {
  margin-top: 50px;
  float: left;
}
body #section2 .grid-murkup {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #27262c;
  padding: 50px 0;
  float: left;
  margin-top: 80px;
}
body #section2 .grid-murkup .section2 {
  color: #ccc;
  font-size: 16px;
}
body #section3 {
  float: left;
  margin-top: 80px;
}
body #section3 .typography-img {
  margin-top: 50px;
}
body #section3 .font-import {
  margin-top: 80px;
  width: 100%;
  padding: 50px 0;
  float: left;
  background: #27262c;
  background-image: linear-gradient(to right, #27262c 50%, #fff 50%);
}
body #section3 .font-import .h3-title {
  color: #fff!important;
}
body #section4 {
  float: left;
  margin-top: 80px;
}
body #section4 .button-codex {
  margin-top: 80px;
  width: 100%;
  padding: 50px 0;
  float: left;
  background: #27262c;
  background-image: linear-gradient(to right, #27262c 50%, #fff 50%);
}
body #section4 .button-codex .h3-title {
  color: #fff!important;
}
body #section4 .class-button {
  transform: rotate(-90deg);
  margin-left: -150px;
  color: #1a1a1a;
  font-size: 30px;
  float: left;
}
body #section4 .class-button .rect {
  width: 40px;
  height: 4px;
  margin-right: 10px;
  background-color: #1a1a1a;
}
body #section5 .box-icon {
  margin-top: 100px;
}
body #section5 .box-icon .rettangolo-icon {
  width: 25%;
  height: 150px;
  background: #ccc;
  float: left;
  position: absolute;
  z-index: -100;
  left: -30px;
}
body #section5 .box-icon .icon-1 {
  color: #59585e;
}
body #section5 .box-icon .icon-3 {
  color: #000000;
}
body #section6 {
  float: left;
  margin-top: 80px;
}
body #section6 .button-codex {
  margin-top: 80px;
  width: 100%;
  padding: 50px 0;
  float: left;
  background: #27262c;
  background-image: linear-gradient(to right, #27262c 50%, #fff 50%);
}
body #section6 .button-codex .h3-title {
  color: #fff!important;
}
body #section6 .class-button {
  transform: rotate(-90deg);
  margin-left: -150px;
  color: #1a1a1a;
  font-size: 30px;
  float: left;
}
body #section6 .class-button .rect {
  width: 40px;
  height: 4px;
  margin-right: 10px;
  background-color: #1a1a1a;
}
body footer {
  margin-top: 300px;
  float: left;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  #section3 .font-import {
    margin-top: 80px;
    width: 100%;
    padding: 50px 0;
    float: left;
    background: #27262c;
    background-image: linear-gradient(to bottom, #27262c 55%, #fff 45%) !important;
  }
}
@media only screen and (max-width: 319px) {
}
